@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content ;}
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content ;}
}
    
.card {
    margin-top: 20px;
    width: 200px;
    height: 320px;
    border-radius: 5px;
    border: 2px solid rgba(194, 236, 236, .3);
    
}

#cardRegion {
  margin-left: 15px;
  margin-top: -20px;
}

#cardCity, #cardRegion {
  margin-left: 10px;
  color: rgba(5, 5, 5, .5);
}

#icon {
  margin-left: 50px;
  height: 6em;
}

#temp {
  font-family: 'Miriam Libre', sans-serif;
  color: rgba(5, 5, 5, .5);
  margin-top: 0px;  
  text-align: center;
  font-size: 5em;
  filter: drop-shadow(0 0 0.75rem white);
  
}
