@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content ;}
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content ;}
}
   
hr {
  width: 80%;
  margin-top: -2px;
  margin-bottom: 15px;
  border: 0;
  height: 3px;
  background-color: rgba(86, 151, 180, 0.329);
}

.card {
    margin-top: 50px;
    margin-right: 10px;
    width: 200px;
    height: 320px;
    border-radius: 5px;
    border: 2px solid rgba(194, 236, 236, .3);
    background-color: rgba(255, 236, 236, .6);   
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}


#cardRegion {
  margin-left: 15px;
  margin-top: -20px;
}

#dayOfTheWeek {
  margin-top: 10px;
  text-align: center;
  font-size: 2.5em;
}

#icon {
  margin-left: 50px;
  height: 6em;
  
}

#condition {
  text-align: center;
  margin-top: -2px;
}

#temp {
  font-family: 'Miriam Libre', sans-serif;
  color: rgba(5, 5, 5, .5);
  margin-top: 0px;  
  text-align: center;
  font-size: 5em;
  filter: drop-shadow(0 0 0.75rem white);  
}


#maxtemp {
  margin-left: 12px;
  margin-right: 15px;
  color: red;
  filter: drop-shadow(0 -2mm 4mm rgb(255, 11, 11));
}

#mintemp {
  color: blue;
  filter: drop-shadow(0 -2mm 4mm rgb(25, 0, 255));
}

#maxtemp, #mintemp {
  font-family: 'Miriam Libre', sans-serif;  
  font-size: 3em;  
  display: inline;
  padding: 5px;
}

#month {
  
  display: inline;
  margin-right: 5px;
}

#date {
  
  display: inline;
}

#dateContainer {
  color: grey;  
  margin-top: -25px;
  
  text-align: center;
  
}