label {
    margin-left: 5px;
    margin-right: 10px;    
    font-weight: 600;
}

input {
    border-radius: 5px;
    margin-top: 20px;
}

label, input {
    display: block;
    position: absolute;
    
}