input {
    width: 20em;
    height: 30px;
    border-radius: 5px;
    /* /* margin-right: 19px; */
    margin-top: 92px;
    display: block;
    
    position: absolute;
}

.cityName {
    display: inline;
    position: absolute;
    margin-top: 30px;
    font-size: 6em;

}